---
import CircleBlur from "./CircleBlur.astro";
import SpotifyThumbnail from "./SpotifyThumbnail.astro";
const { rank, title, text, spotify, color, position } = Astro.props;
---

<div class="podcast">
    <CircleBlur class={`podcast__circle--${position}`} color={color} />
    <SpotifyThumbnail id={spotify} />
    <div class="wrap">
        <h2 class="podcast__title">{rank}. {title}</h2>
        <p class="podcast__text">{text}</p>
    </div>
</div>

<style lang="scss">
    .podcast {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 60px;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.02);
        }

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &__circle--left {
            left: -65%;
            opacity: 0.7;
            transition: transform 0.3s ease-in-out;
        }

        &__circle--right {
            left: 65%;
            opacity: 0.7;
        }

        &__title {
            font-weight: 500;
            font-size: 30px;
            line-height: 145%;
            color: #E1E1E1;
            margin-bottom: 10px;
            margin-top: 0;

            @media (max-width: 600px) {
                font-size: 24px;
            }
        }

        &__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 145%;
            color: #D9D9D9;
            margin-bottom: 0;

            @media (max-width: 600px) {
                font-size: 16px;
            }
        }
    }
</style>